{% extends "base.html" %}

{% block content %}
<section class="container">
  <div class="page-header">
    <h1><small>The</small> Blog <small>- All Posts For  {{day|date:"F jS, Y"}}</small></h1>
  </div>
</section>

{% for object in objects %}
{% include "blog/includes/excerptpost.html" %}
{% empty %}
  <section class="container">
    <p class="lead text-center text-muted">Looks Like Nothing Is Here...</p>
  </section>
{% endfor %}

{% if is_paginated %}
<nav class="container">
  <ul class="pager">
    <li class="previous {% if not page_obj.has_next %}disabled{% endif %}"><a href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% else %}#{% endif %}"><i class="fa fa-chevron-left"></i> Older</a></li>
    <li class="next {% if not page_obj.has_previous %}disabled{% endif %}"><a href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% else %}#{% endif %}">Newer <i class="fa fa-chevron-right"></i></a></li>
  </ul>
</nav>
{% endif %}

{% endblock %}
