{% load staticfiles %}
{% load account %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic|Roboto:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block extraCSS %}
    {% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70237916-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    {% block header %}
    <header>
      {% block nav %}
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Bryans<small>.website</small></a>
          </div>
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'stream:index' %}">Stream</a></li>
              <li><a href="{% url 'blog:index' %}">Blog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus-square"></i></a>
                <ul class="dropdown-menu">
                  {% if perms.stream.can_add_drop%}
                  <li><a href="{% url "admin:stream_drop_add" %}"><i class="fa fa-tint"></i> Drop</a></li>
                  {% endif %}
                  {% if perms.blog.can_add_blogpost%}
                  <li><a href="{% url "admin:blog_blogpost_add" %}"><i class="fa fa-file-text"></i> Post</a></li>
                  {% endif %}
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> {% user_display user %}</a>
                <ul class="dropdown-menu">
                  <li><a href="{% url "account_change_password" %}"><i class="fa fa-key"></i> Change Password</a></li>
                  {% if user.is_staff %}
                  <li role="separator" class="divider"></li>
                  <li><a href="{% url 'admin:index' %}" target="_blank"><i class="fa fa-tasks"></i> Admin</a></li>
                  {% endif %}
                  <li role="separator" class="divider"></li>
                  <li><a href="{% url 'account_logout' %}"><i class="fa fa-sign-out"></i> Sign Out</a></li>
                </ul>
              </li>

              {% else %}
              {% include 'account/includes/logindropdown.html' %}
              {% endif %}
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      {% endblock %}
    </header>
    {% endblock %}

    <main>
      {% block messages %}
        {% if messages %}
        <section class="container">
            <div class="row">
                <div class="col-md-12">
                    {% include "messages.html" %}
                </div>
            </div>
        </section>
        {% endif %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </main>

    {% block footer %}
    <footer class="container-fluid text-center marg-t4">
      <div class="text-center">
        <ul class="list-inline">
          <li><a href="https://github.com/bhhaskin" target="_blank"><i class="fa fa-github-square fa-2x"></i></a></li>
          <li><a href="https://plus.google.com/u/0/+BryanHaskin/posts" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></i></a></li>
        </ul>
      </div>
      <p>
        &copy; {% now "Y" %} Bryan Haskin
      </p>
    </footer>
    {% endblock %}

    <div class="modal fade" id="konamiModal" tabindex="-1" role="dialog" aria-labelledby="konamiLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="konamiLabel">I'm bryan</h4>
          </div>
          <div class="modal-body">
            <div class="embed-responsive embed-responsive-16by9">
              <!-- <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4SYc_flMnMQ" frameborder="0" allowfullscreen></iframe> -->
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script src="//www.google.com/recaptcha/api.js" async="" defer=""></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.konami.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    {% block extra_js %}
    {% endblock %}
  </body>
</html>
