{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1><small>Bryan@website:/$ python </small>Hello World!<small>.py</small></h1>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <p>
            Hello and welcome to my website! I am currently working on building
             it from scratch. You can track my progress by visting the
             <br><a href="https://github.com/bhhaskin/bryans.website" target="_blank">github repository</a>.
          </p>
        </div>
      </div>
      <div class="row">
        <p class="lead text-center text-muted">More to come</p>
      </div>
  </div>
{% endblock %}
