{% extends "base.html" %}

{% block content %}
  <section class="container">
    <div class="page-header">
      <h1><small>Index</small> Hello!</h1>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <p>
            Hello and welcome to my website! I am currently working on building
             it from scratch. You can track my progress by visting the
             <br><a href="https://github.com/bhhaskin/bryans.website" target="_blank">github repository</a>.
          </p>
        </div>
      </div>
  </section>

{% if posts %}
<section class="container">
  <h2><small>Latest</small> Blog Posts</h2>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        {% for post in posts %}
        <div class="col-md-6">
          <a href="{{ post.get_absolute_url }}"><h3>{{post.title}}</h3></a>
          {% if post.excerpt %}
          {{post.excerpt|safe}}
          {% else %}
          {{post.content|safe|truncatechars_html:140 }}
          {% endif %}
          <a href="{{ post.get_absolute_url }}" role="button" class="btn btn-default">
            Read More
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endif %}

{% endblock %}
